body{
    grid-template-columns: 17rem auto;
}
.loader-wrappers{
    width: calc(100vw - 17.5rem);
    height: calc(100vh - 5.3rem);
    margin-top: 5.3rem;
    margin-left: 17.5rem;
    position: fixed;    
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.5);
}
.loaders {
  transform: translateZ(1px);
}
.loaders:after {
  content: '$';
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  font-size: 32px;
  font-weight: bold;
  background: var(--color-primary);
  color: var(--color-white);
  border: 4px double ;
  box-sizing: border-box;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.wallet{
    margin-top: 8rem;
    margin-right: 2vw;
    .wallet_balance{
        text-align: center;
        padding: 2.5rem;
        border-radius: 2rem;
        h4{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.4rem;
            font-weight: 400;
            margin-inline: auto;
            width: fit-content;
        }
        h1{
            margin: 0.5rem 0 1.5rem;
            font-size: 3.5rem;
            font-weight: 700;
        }
        .wallet_cta{
            display: flex;
            align-items: center;
            gap: 2rem;
            width: fit-content;
            margin-inline: auto;
            a{
                color: var(--color-white);
                i{
                    background: var(--color-primary);
                    width: 5rem;
                    height: 5rem;
                    font-size: 1.8rem;
                    display: grid;
                    place-items: center;
                    border-radius: 10%;
                }
                p{
                    font-size: 1.2rem;
                    margin-top: 1.2rem;
                    color: var(--color-black);
                }
            }
        }
    }
    .wallet_tokens{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 3rem;
            .wallet_token{
                background: var(--color-white);
                border-radius: 1rem;
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .wallet_token_left{
                    display: flex;
                    gap: 0.7rem;
                    .wallet_token_image{
                        width: 3rem;
                        height: 3rem;
                        i{
                            color: var(--color-black);
                            font-size: 3rem;
                        }
                    }
                    & > div{
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                    }
                    div{
                        div{
                            display: flex;
                            align-items: center;
                            gap: 1.2rem;
                        }
                    }
                }
                .wallet_token_right{
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }
            }
        }
}

@media screen and (max-width: 1024px){
    body{
        grid-template-columns: 1fr;
    }
    .wallet{
        padding-left: 2vw;
    }
    .loader-wrappers{
    margin-top: 5.2rem;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 600px){
    .wallet{
        .wallet_tokens{
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}