*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: var(--transitions);
}

html{
    font-size: 12px;

    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track{
        background: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-thumb{
        background: var(--color-primary);
    }
}


:root{
    --color-white:#fff;
    --color-light:#eee7e7;
    --color-gray-light:#686262bd;
    --color-gray-dark:#1d1b1b;
    --color-black:#000;
    --color-primary:#fd01dbce;
    --color-success:#00bf8e;
    --color-warning:#c7f10c;
    --color-danger: #f75842;
    --color_purple: rgb(131, 3, 131);
    --color_purple_light: rgba(236, 94, 236, 0.747);
    --color-danger-variant:#f7574241;
    --color-primary-light:#fd01db6b;
    --color-success-light:#00bf8fa8;
    --color-warning-light: #c7f10cb6;
    --color-bg: #b8bed463;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --card-padding:1.6rem;

    --radius_1: 0.5rem;
    --radius_2: 1rem;
    --radius_3: 1.6rem;
    
    --transitions: all 300ms ease;
}
/* for the dark theme, kinda a no-brainer tbh */
.dark_theme{
    --color-white:#131316;
    --color-light:#23232a;
    --color-black:#ddd;
    --color-gray-dark:#adacb5;
}

body{
    background: var(--color-light);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: var(--color-black);
    display: grid;
    grid-template-columns: 17rem auto 30rem;
    gap: 2rem;
    transition: var(--transitions);
    user-select: none;
}

.container{
    width: 96vw;
    margin-inline: auto;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-black);
}

h1{
    font-size: 2.4rem;
    font-weight: 900;
}

h2{
    font-size: 2rem;
    font-weight: 800;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.8rem;
}
p{
    font-size: 0.86rem;
}

small{
    font-size: 0.77rem;
}

a{
    color: var(--color-white);
}

.text-muted{
    color: var(--color-gray-light);
}

.primary{
    color: var(--color-primary);
}
.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}
.bg-primary-light{
    background: var(--color-primary-light);
}
.danger{
    color: var(--color-danger);
}
.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-variant);
}
.bg-danger-light{
    background: var(--color-danger-variant);
}

.success{
    color: var(--color-success);
}
.bg-success{
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}
.bg-success-light{
    background: var(--color-success-light);
}

.warning{
    color: var(--color-warning);
}
.bg-warning{
    background: var(--color-warning);
    box-shadow: 0 0.8rem 0.8rem var(--color-warning-light);
}
.bg-warning-light{
    background: var(--color-warning-light);
}
.bg-purple{
    background: var(--color_purple);
    box-shadow: 0 0.8rem 0.8rem var(--color_purple);
}
.bg-purple-light{
    background: var(--color_purple_light);
}
.bg-dark{
    background: var(--color-gray-dark);
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.12);    
}

button{
    cursor: pointer;
}

/* CSS loader */
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
}
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  top: -8rem;
}
.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: var(--color-primary);
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
#kast{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 4.0s;
}
#kast path:nth-child(9){
    stroke-dasharray: 256px;
    stroke-dashoffset: 256px;
    animation: line-anim 2s ease forwards ;
}

#kast path:nth-child(8){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 0.3s;
}

#kast path:nth-child(7){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 0.6s;
}

#kast path:nth-child(6){
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: line-anim 2s ease forwards 0.9s;
}

#kast path:nth-child(5){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 1.2s;
}

#kast path:nth-child(4){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 1.5s;
}
#kast path:nth-child(3){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: line-anim 2s ease forwards 1.8s;
}
#kast path:nth-child(2){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 2.1s;
}
#kast path:nth-child(1){
    stroke-dasharray: 421px;
    stroke-dashoffset: 421px;
    animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: var(--color-black);
    }
}



/* ====================== NAVBAR ====================== */
nav{
    width: 100vw;
    background: var(--color-white);
    display: grid;
    place-items: center;
    height: 5.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .nav_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 1.6rem;
            background: transparent;
        }
        .nav_logo{
            width: 4.5rem;
        }  
        .nav_search{
            background: var(--color-light);
            border-radius: var(--radius_2);
            padding: 0.5rem 1rem;
            width: 45rem;
            height: 4.5rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            color: var(--color-gray-light);
                input[type="search"]{
                    background: transparent;
                    width: 100%;
                    color: var(--color-black);
                }
            }
            /* .nav_search.active{
                top: 110%;
                transition: 1s;
            } */
        
        .nav_profile_wrapper{
            display: flex;
            align-items: center;
            gap: 4rem;
            justify-content: space-between;
            cursor: pointer;
            .nav_theme_btn{
                color: var(--color-black);
                i{
                    background: var(--color-white);
                    border-bottom: 2px solid var(--color-white);
                }
            }
            .nav_profile{
                display: flex;
                gap: 1rem;
                align-items: center;
                .nav_profile_photo{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid rgba(0, 0, 0, 0.596);
                }        
            }
            .nav_menu_btn{
                display: none;
                background: var(--color-white);
                color: var(--color-black);
                i{
                    font-size: 2.6rem;
    
                }
            }
        }
    }
}
/* Solidify navbar on scroll */
.window-scroll{
    /* background: var(--color-primary-light); */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}




 /* ================================ SIDEBAR ================================ */
.sidebar{
    margin-top: 7rem;
    min-height: calc(100vh-5rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 101;
    a{
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1.5rem 4vh 1.5rem 2vw;
        transition: var(--transitions);
        border-radius: 0 0.5rem 0.5rem 0;
        color: var(--color-gray-dark);
        i{
            font-size: 2rem;
        }
        h5{
            font-weight: 500;
            color: var(--color-gray-dark);
        }
        &:hover{
            background: var(--color-white);
            /* border-left: 0.5rem solid var(--color-primary); */
            i, h5{
                color: var(--color-primary);
            }
        }
        &.active{
            background: var(--color-white);
            border-left: 0.5rem solid var(--color-primary);
            i, h5{
                color: var(--color-primary);
            }
        }
    }
    .sidebar_close_btn{
        display: none;
    }
}


 /* ================================ CARDS ================================ */
.main{
    .main_header{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 8rem;
        input[type= "date"]{
            padding: 0.5rem 2rem;
            background: var(--color-light);
            color: var(--color-gray-dark);
        }
    }
    .main_cards{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 1rem;
        .card{
            background: linear-gradient(#fd01dbce);
            padding: var(--card-padding);
            border-radius: var(--radius_3);
            height: 13rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
            &:hover{
                box-shadow: 0 2rem 3rem var(--color-primary-light);
            }
            & * {
                color: var(--color-black);
            }
            &:nth-child(2){
                background: linear-gradient(#fd0101ef);
            }
            &:nth-child(3){
                background: var(--color-white);
            }
            &:nth-child(4){
                background: var(--color-danger);
            }

            .card_header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .card_header_left{
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    h3{
                        font-weight: 400;
                    }

                    img{
                        width: 2rem;
                        border: 1px solid white;
                        border-radius: var(--radius_1);
                        padding: 0.4rem;
                    }
                }
                .card_header_right{
                    width: 3rem;
                }
            }
            .card_body{
                display: flex;
                justify-content: space-between;
                .card_body_chip{
                    width: 3.5rem;
                }
            }
            .card_footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card_footer_right{
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }
    /* ================================ FAST PAYMENTS ================================ */
.fastPayment{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    .fast_payment_badges{
        display: flex;
        gap: 1rem;
        align-items:center;
        flex-wrap: wrap;
        max-width: 100%;
        .fastpayment_badge{
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            gap: 0.6rem;
            border-radius: var(--radius_1);
            padding: 0.6rem var(--card-padding);
            &:hover{
                box-shadow: 0 0 1rem var(--color-primary-light);
            }
            span{
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
            }
            div{
                display: flex;
                gap: 1.5rem;
                align-items: center;
            }
        }
    }
}


    /* ================================ Charts ================================ */

    canvas{
        background: var(--color-white);
        width: 100%;
        margin-top: 2rem;
        border-radius: var(--radius_3);
        padding: var(--card-padding);
    }
}
 


 /* ================================ Investments ================================ */
.right{
    margin-top: 7rem;
    margin-right: 2vw;
    .investments{
        background: var(--color-white);
        border-radius: var(--radius_3);
        .investment_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--card-padding);
            a{
                display: flex;
                align-items: center;
                color: var(--color-primary);
                i{
                    padding-left: 0.5rem;
                }
            }
        }
        .investment{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--card-padding);
            border-bottom: 1px solid var(--color-light);
            img{
                width: 2.4rem;
            }
            &:hover{
                background: var(--color-light);
            }
        }
    }

/* ====================== RECENT TRANSACTIONS ====================== */
.recent_transactions{
    margin-top: 2rem;
    max-width: 100%;    
    .recent_transactions_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        a{
            display: flex;
            align-items: center;
            color: var(--color-primary);
            i{
                padding-left: 0.5rem;
            }
        }
    }
    .no_transaction{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background: var(--color-gray-light);
        border-radius: var(--radius_3);
        margin-top: 2rem;
        h4{
            color: var(--color-white);
        }
    }
    .transaction{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem var(--card-padding);
        border-radius: var(--radius_3);
        margin-top: 1rem;
        &:hover{
            background: var(--color-white);
        }
        .transaction_service{
            display: flex;
            gap: 1rem;
            .icon{
                width: 3.4rem;
                height: 3.4rem;
                border-radius: var(--radius_2);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.7rem;
                padding: 0 1.5rem;
            }
            .transaction_card_details{
                display: flex;
                justify-self: flex-start;
                gap: 1rem;
                .transaction_card_image{
                    display: flex;
                    width: 3.4rem;
                    border-radius: var(--radius_1);
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    
}
}





/* ====================== MEDIA QUERIES FOR TABLETS ====================== */


@media screen and (max-width: 1024px){
    body{
        grid-template-columns: 1fr;
    }
    nav{
        .nav_container{
            .nav_search{
                display: none;
            }
        .nav_profile_wrapper{
            .nav_menu_btn{
                display: inline-block;
            }
        }
        }

    }

    .sidebar{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        background: var(--color-white);
        margin-top: 5rem;
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.15);
        animation: showSidebar 400ms ease forwards;
        display: none;
        .sidebar_close_btn{
            color: var(--color-black);
            display: inline-block;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            font-size: 2.2rem;
            background: transparent;
        }
    }
    
    @keyframes showSidebar{
        to{
            left: 0;
        }
    }
    .main{
        grid-template-columns: 1fr;
        padding: 0 1rem;
        .main_cards{
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            .card{
                height: 18rem;
            }
        }
    }
    .right{
        margin-top: 2rem;
        .investments{
            padding: 0 2rem;
        }
        .recent_transactions{
            padding: 0 2rem;
            .transaction{
                .transaction_service{
                    .transaction_card_details{
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}


/* ====================== MEDIA QUERIES FOR PHONES ====================== */


@media screen and (max-width: 600px){
    #kast{
        width: 23rem;
    }

    nav{
        height: 5rem;

        .nav_profile_wrapper{
            h5{
                display: none;
            }
            span{
                display: none;
            }            
        }
    }
    .sidebar{
        a{
            padding-left: 3rem;
        }
    }
        .main{
            .main_cards{
                grid-template-columns: 1fr;
            }
        }
        .right{
        margin-top: 2rem;
        .investments{
            padding: 0 2rem;
        }
        }
        .fastPayment{
            flex-direction: column;
            align-items: flex-start;
            margin-top: 3.5rem;
        }
}

@media screen and (max-width: 350px){
    .right{
        margin-top: 2rem;
        .investments{
            padding: 0;
        }
        .recent_transactions{
            padding-left: 0;
            .transaction{
                .transaction_service{
                    .transaction_card_details{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}